<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action = "/login" method = "post">
        <h1>Login</h1>
        <input type = "email" placeholder="email" name = "email" minlength="13" maxlength="25"><br>
        <input type= "password" placeholder="password" name = "password" minlength="4" maxlength="8"><br><br>
        <button>Login</button>
    </form>
</body>
</html>